<footer class="container-fluid h-auto mt-4 text-center">
    <p>&copy; 2024 Book Notes</p>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
    crossorigin="anonymous"></script>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        const input = document.getElementById("oliSearchInput");
        const dropdown = document.getElementById("oliSearchDropdown");

        let debounceTimer = null;

        input.addEventListener("input", () => {
            const query = input.value.trim();

            clearTimeout(debounceTimer);

            if (query.length === 0) {
                dropdown.innerHTML = "";
                return;
            }

            // Debounce to avoid too many requests
            debounceTimer = setTimeout(async () => {
                const response = await fetch(`/oli/search?q=${encodeURIComponent(query)}&ajax=1`);
                const results = await response.json();

                dropdown.innerHTML = "";

                if (results.length === 0) {
                    dropdown.innerHTML = `<li><span class="dropdown-item disabled">No results</span></li>`;
                    return;
                }

                results.forEach(book => {
                    const li = document.createElement("li");
                    li.innerHTML = `
                    <a class="dropdown-item" href="/books/${book.olid}">
                        <div class="d-flex gap-2 my-2">
                            <img src="https://covers.openlibrary.org/b/olid/${book.cover_edition_key}-M.jpg" style="width: 50px;" />
                            <div class="d-flex flex-column align-items-start">
                                <p class="fs-5 fw-bold text-truncate">${book.title}</h6>
                                <p class="fs-6 text-secondary text-truncate">By ${book.author}</p>
                            </div>
                        </div>
                    </a>
                `;
                    dropdown.appendChild(li);
                });

                // Show dropdown manually
                if (!dropdown.classList.contains("show")) {
                    dropdown.classList.add("show");
                }
            }, 250);
        });

        // Hide dropdown when clicking outside
        document.addEventListener("click", (e) => {
            if (!input.contains(e.target)) {
                dropdown.classList.remove("show");
            }
        });
    });
</script>
</body>

</html>